:root {
  --preview-color: rgb(0, 255, 20);
  --primary-color-base: 0, 255, 20;
  --primary-color: rgb(var(--primary-color-base));
  --primary-color-transparent: rgba(var(--primary-color-base), 0.5);

  --section-padding-vertical: 10px;
  --section-padding-horizontal: 150px;
}

section {
  display: grid;

  place-items: center;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;

  background-color: rgb(123, 199, 199);
  padding: var(--section-padding-vertical) var(--section-padding-horizontal);

  height: calc(100vh - var(--section-padding-vertical));
}

section > div {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

img {
  width: 500px;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
}

button {
  padding: 13px 30px;
  border: none;

  border-radius: 30px;
}

/* Classes  */
.primary-button {
  color: white;
  background-color: var(--primary-color);
}

.cards-container {
  display: flex;

  justify-content: space-around;
  padding: var(--section-padding-horizontal) var(--section-padding-horizontal);
}
